/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 2, 2019, 5:18:53 PM
    Author     : demps
*/


body, div#parent {
   font-size:14px;
   background-color: #EEEEEE;
   background: #EEEEEE;
} 
 /*//////////////////////
 Buttons
 ///////////////////////*/
button { 
    border: 0; 
}

.ui-button-text-only .ui-button-text {
    padding: .6em 2em;
    background-color: #0AAF42;
    border-radius: .6em;
    color: #fff;
    text-transform:uppercase;
    background:#0AAF42 !important;
}   
    

 /*//////////////////////
 Headers
 ///////////////////////*/
h1 {
    margin:0 auto;
    text-align: center;
}

h3 {
    text-align:left;
}

h3.ui-accordian-header > .ui-helper-reset > .ui-state-default > .ui-corner-all  {
    color:#ff0000;
}

span.ui-layout-unit-header-title {
    display:none;
}

.ui-state-default, .ui-widget-content .ui-state-default
{
    background-color:#748797;
    background: #748797;
    border: 0;
}

 /*//////////////////////
 Forms
 ///////////////////////*/
form {
    width: 50%;
    margin: auto;
    position:relative;
    margin-top:200px;
}

#panel {
    margin:0 auto;
    text-align: center;
}

.ui-corner-all {
    border-radius: 0;
    webkit-border-radius: 0;
}

.ui-menu, .ui-menu .ui-menu-child {
    background-color: #748797;
    background: #748797;
    padding:0;
    border:0;
    height: 100%;   
    color:#fff;
   
}
.ui-layout-unit-content .ui-widget-content {
    overflow: hidden;
}

.ui-layout-unit .ui-layout-unit-content {
    padding: 0;
}



.ui-widget-header {
    /* border: 1px solid #a8a8a8; */
    /* background: #c4c4c4 url(/mTesting/faces/javax.faces.resource/images/ui-bg_highlight-soft_100_c4c4c4_1x100.png?ln=primefaces-aristo) 50% 50% repeat-x; */
    background: #748797;
    color: #fff; 
    font-weight:100;
    text-shadow:none;
    border: 0;
    padding: 2.0em 0;
    background-image: url('../images/aardwolf-logo-gray.png');
    background-repeat: no-repeat;
    background-position: center;
}

.ui-state-default .ui-icon {
    background-image: url(/mTesting/faces/javax.faces.resource/images/ui-icons_ffffff_256x240.png?ln=primefaces-aristo);
}
 /*//////////////////////
 Primefaces defaults
 ///////////////////////*/
 
 
 
 
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
    font-weight: 400;
    text-shadow: none;
    /* background-color:#ffffff; */
    letter-spacing: 2px;
}

.ui-panel {
    padding: 1em;
    background-color: #FFF;
    box-shadow:  0 0 30px #2D2D4F;
}

.ui-layout-unit {
    background-color: #EEEEEE;
    padding: 0;
}

.ui-layout-unit-content {
    background-color: #EEEEEE;
}

.ui-widget-content {
    text-align: center;
    border: 0; /*will this break login?*/
   
}

.ui-widget-content a {
    color:#fff;
}

.ui-widget-content a:hover {
    background-color:#0AAF42;
    background: #0AAF42;
}

.ui-state-default, .ui-widget-content .ui-state-default {
    color:#ffffff;
    background-color: #748797;
    box-shadow: none;
   }

.ui-state-active, .ui-widget-content .ui-state-active {
    background-color: #748797;
    box-shadow: 0;
}

/* accordian */
.ui-accordion .ui-accordion-content {
    padding: 8px;
    border: 0;
    margin-top: -2px;
    position: relative;
    top: 1px;
    overflow: auto;
    zoom: 1;
    background-color: #748797;
    overflow-x: hidden;
}

/**/

.ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    font-weight: 400;
    /* color: #ffffff; will this break login ? */
    text-shadow: none;
    background-color: #748797; 
    background: #748797;
    letter-spacing: 2px;
    box-shadow: 0;
    line-height: 4.0em;

}

.ui-state-default:hover, .ui-widget-content .ui-state-default:hover, .ui-widget-header .ui-state-default:hover {
 border: 0;   
 box-shadow: 0;
}

#j_idt7 {
   width: 250px !important;
   
  
}


#j_idt7 .ui-layout-unit-content{
   background: #748797;
   border: none;
   
   /*  I like this, but it is decorative*/
}

.ui-layout-west {
   box-shadow:  0 0 8px #2D2D4F; 
   
   
}

/* menu item */
.ui-menu .ui-menuitem-link {
    display: block;
    width: 92%;
    outline: none;
    text-decoration: none;
    font-weight: 400;
    border: solid 1px transparent;
    float: left;
    line-height: 24px;
    padding: 0.3em;
    cursor: pointer;
    margin-left: 2.0em;
    
}

a.ui-menuitem-link:hover {
   color:#B8E986;
   background-color:transparent;
   background:transparent;
   box-shadow: none;
}

div#j_idt53 {
    width: 500px;
    position: absolute;
    margin: 0px;
    z-index: 0;
    top: 0px;
    bottom: 0px;
    left: 300px;
    /* right: 0px; */
    /* width: 708px; */
    height: 921px;
    display: block;
    visibility: visible;
}

 
